/*
    Document   : style.css
    Created on : 2009-5-14, 2:12:48
    Author     : freefcw
    Description:
        Purpose of the stylesheet follows.
*/
/* header */
.banner {
    height: 50px;
}

/* navigation  */
.edit-userinfo {
    width: 450px;
    margin: auto;
}

.problem-pagination {
    width: 600px; /* will ok in pagination less than 15, if larger than 15, make li a padding less, or other ui*/
    float: left;
}

.sform {
    width: 320px;
    float: right;
    margin-top: 20px;
}

.sform label {
    width: 30px;
}

.search-cat {
    width: 60px;
}

.contest-nav {
    width: 50%;
    margin: 0 auto !important;
}

/* content */
.news {
    margin: 30px 10px;
}

.page-title {
    text-align: center;
    margin: 10px 0 !important;
}

div.err-notice {
    width: 300px;
    margin: auto;
}

.content-info {
    /*font-size: 16px;*/
    text-align: center;
    margin-bottom: 10px;
}

div.content-info p {
    margin-bottom: 3px !important;
}

#detail dt {
    text-transform: uppercase;
    font-size: 18px;
}

#detail dd, .welcome, .thanks, .about {
    margin: 1em 20px 1em;
    font-size: 1.465em;
    font-family: "minion-pro-1", "minion-pro-2", "Palatino", Georgia, "Times New Roman", serif;
    line-height: 1.7em;
}

.welcome p {
    font-size: 16px;
}

.user-profile p {
    font-size: 14px;
}

.thanks ul li {
    height: 1.7em;
}

#fn-nav {
    text-align: center;
    font-size: 14px;
    width: 250px;
    margin: 0 auto 18px;
}

.submit {
    width: 600px;
    margin: 10px auto 50px;
}

.submit fieldset {
    width: 70%;
    margin: auto;
}

.submit textarea {
    display: block;
    width: 590px;
    height: 400px;
}

/* faqs */
#faqs dt.q {
    font-size: larger;
    margin-bottom: 1em;
    padding-left: 9px;
}

#faqs dt span, #faqs dd .sp-a {
    font-size: 18px;
    font-weight: bold;
}

/* summary */
#summary dl {
    font-size: 14px;
    margin-top: 30px;
    margin-left: 14px;
    padding-right: 10px;
    width: 200px;
    float: left;
}

#summary dl dt {
    outline: 1px #87ceeb dotted;
    margin: 3px 0;
    width: 150px;
    height: 1.7em;
    float: left;
}

#summary dl dd {
    margin: 3px 5px;
    outline: 1px #87ceeb dotted;
    width: 40px;
    height: 1.7em;
    float: right;
}

table.best-solution {
    width: 700px;
}

/*  footer  */

#footer {
    margin-top: 50px;
}

#footer ul {
    margin: 0;
    text-align: center;
}

#footer ul li {
    margin: 5px 10px;
    display: inline;
}

#copyright {
    width: 400px;
    margin: 8px auto 13px;
}

/*  admin */
.capitalize {
    text-transform: capitalize;
}

#edit-problem-list {
    list-style: upper-alpha outside;
    margin: 0;
    padding: 0 0 30px 0;
    width: 80%;
}

#edit-problem-list li {
    margin: 0 3px 3px 3px;
    padding: 0.4em 0.4em 0.4em 0.5em;
    font-size: 1.4em;
    height: 18px;
    border: 1px solid #f4a460;
    /*outline: 1px solid #f4a460;*/
}

#edit-problem-list li span {
    float: left;
    margin-left: -0.4em;
}

.edit-link {
    color: #2e8b57;
}

.user-stats li.stats {
    display: inline-block;
    font-size: 13px;
}

.user-stats li.stats a {
    width: 70px;
    min-height: 70px;
}

.user-stats li.stats a span {
    margin: 20px 5px 5px 5px;
    text-align: center;
    font-size: 36px;
    height: 40px;
    display: block;
}

div.user-stats li.count-accept a {
    color: #32cd32;
}

div.user-stats li.count-submit a {
    /*color: yellow;*/
}
.topic-content {
    padding: 10px;
    border: darkgray 1px inset;
}

.reply-content {
    margin-top: 5px;
}

.reply-header {
    border-bottom: 1px solid darkgrey;
    padding-top: 10px;
    padding-bottom: 7px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}