/* 
    Document   : style.css
    Created on : 2009-5-14, 2:12:48
    Author     : freefcw
    Description:
        Purpose of the stylesheet follows.
*/
/* --- main --- */
body {
	font: 14px/1.231 sans-serif 'Courier New';
	text-align: center;
}

#main {
	width: 768px;
	text-align: left;
	margin:auto;
}

/* --- body --- */
#main h1 {
	text-align: center;
	margin: auto;
}

dl dt {
	margin: 20px 0 10px;
	font-size: 18px;
}

.fn-nav, .pagination {
	text-align: center;
	margin: auto;
}

.fn-nav a{
	margin: 10px;
}

#problem-info {
	text-align: center;
}

/* --- footer --- */

#footer {
	margin: auto;
	text-align: center;
}
#footer ul li, #nav ul li, .inline-ul li{
	display: inline;
	margin: auto;
}