/*
    Document   : style.css
    Created on : 2009-5-14, 2:12:48
    Author     : freefcw
    Description:
        Purpose of the stylesheet follows.
*/
.contest-nav{
    width: 60%;
    margin: 18px auto !important;
}
.problem-pagination{
    width: 200px;
    float: left;
}

.sform{
    width: 500px;
    float: right;
    margin-top: 20px;
}
.search-cat{
    width: 60px;
}