/* 
    Document   : style.css
    Created on : 2009-5-14, 2:12:48
    Author     : freefcw
    Description:
        Purpose of the stylesheet follows.
*/
/* --- main --- */
body{
	font: 14px/1.231 sans-serif 'Courier New';
}

/* --- footer --- */

#footer {
	margin: auto;
	text-align: center;
}
#footer ul li, #nav ul li, .inline-ul li{
	display: inline;
}